<div>
    <mat-form-field appearance="fill">
        <mat-label>Choose Start Date</mat-label>
        <input matInput [matDatepicker]="picker1" placeholder="Date" [(ngModel)]="startDate">
        <mat-hint>Month/Day/Year</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
        <button mat-raised-button color="accent" class="Button" (click)="SubmitStartDate()">Submit</button>
    </mat-form-field>
</div>

<div class="mt-5">
    <mat-form-field appearance="fill">
        <mat-label>Choose End Date</mat-label>
        <input matInput [matDatepicker]="picker2" placeholder="Date" [(ngModel)]="endDate">
        <mat-hint>Month/Day/Year</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <button mat-raised-button color="accent" class="Button" (click)="SubmitEndDate()">Submit</button>
    </mat-form-field>
</div>

