<div class="card mb-4" *ngFor="let item of activities" >
    <div class="row">
        <div class="col-md-3">
            <img src="assets/img/konser1.jpg" class="img-fluid rounded-end rounded-start" alt="">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h3 class="card-title">Konser 1</h3>
                <p class="card-text">Lorem ipsum dolor sit amet.</p>
                <button class="btn btn-outline-secondary">Details</button>
            </div>
        </div>
    </div>
</div>